#footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#login-footer {
    width: 98%;
    margin: 0 auto;
    color: #eee;
}

#login-footer::after {
    content: "";
    clear: both;
    display: block;
}

#saber-mas {
    float: left;
}

#realizado-por {
    float: right;
}





