#login-header {
    padding: 4px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgba(000, 000, 000, 0.1);
}

#login-header a {
    float: right;
    position: relative;
    top: 45px;
    margin-right: 20px;
    color: #eee;
    font-weight: 400;
}

#login-header::after {
    content: "";
    clear: both;
    display: block;
}

#login-header h1 {
    font-size: 20px;
    width: 300px;
    position: relative;
    top: 8px;
}

#login-header h1, #login-header img {
    float: left;
    margin: 5px;
}

#login-header::after {
    content: "";
    clear: both;
    display: block;
}

#login-header img {
    width: 65px;
    height: 65px;
}