.plancha-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plancha-registro__header {
    background: #373737;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.plancha-registro__organo {
    background: #1B252B;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.plancha-registro__puesto {
    display: flex;
    justify-content: space-between;
    width: 85%;
    background: #1C1A1A;
    margin-bottom: 10px;
    border-radius: 10px;
}

.plancha-registro__puesto--revisar {
    display: flex;
    align-items: center;
    width: 65%;
}

.plancha-registro__organo h2 {
    color: #FFFFFF;
    text-decoration: underline;
}

.plancha-registro__puesto h4 {
    color: #FFFFFF;
    margin: 15px 15px 15px 0;
    font-weight: 400;
    position: relative;
    left: 15px;
    font-size: 20px;
}

.plancha-registro__puesto--revisar input {
    border-radius: 5px;
    outline: none;
    padding: 3px;
    flex-grow: 1;
}

.plancha-registro__botones button:nth-child(2) {
    background: #C46565;
}
.plancha-registro__botones button {
    padding: 10px;
    font-weight: bold;
    margin: 15px 15px;
}

@media screen and (max-width: 700px) {
    .plancha-registro__puesto {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 70%;
        min-width: 300px;
    }

    .plancha-registro__puesto h4 {
        margin: 15px 0;
        text-decoration: underline;
        position: static;
    }

}