#verificar-identidad {
    background: rgba(99, 175, 204, 0.55);
    padding: 30px;
    border-radius: 5px;
}

/*********************Main Area****************************/

#verificar-identidad #main img {
    height: 124px;
}

#verificar-identidad #main {
    background: #ffffff;
    padding: 20px;
    position: relative;
    bottom: 10px;
}

#verificar-identidad #main ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#verificar-identidad #main ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#verificar-identidad #main button {
    font-weight: lighter;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 0 5px;
}

/********************* Pasaporte ****************************/
#verificar-identidad #pasaporte {
    display: flex;
    background: #ffffff;
}

#verificar-identidad #pasaporte input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #707070;
    color: #F6F6F6;
}

#verificar-identidad #pasaporte button {
    background: #4D4A4A;
    padding: 5px 10px; 
}

#verificar-identidad #pasaporte button:first-of-type {
    border-radius: 10px;
    background: #F3F3F3;
    border: 1px solid #272727;
    padding: 5px 10px;
    margin: 0 5px;
}

#verificar-identidad #pasaporte h3 {
    color: #DEDEDE;
}

#verificar-identidad #pasaporte #izquierda {
    background: #514848;
    padding: 10px;
}

#verificar-identidad #pasaporte #derecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************* Subir ****************************/

#verificar-identidad #subir {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    width: 400px;
    text-align: center;
    padding: 20px;
}

#verificar-identidad #subir button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: lighter;
}

#verificar-identidad #subir img {
    border-radius: 50%;
}

/************************Media Queries********************************/

@media screen and (max-width: 960px) {
    #verificar-identidad #main ul {
        flex-direction: column;
    }
}


