body {
  background: url('./img/background.png') no-repeat center center fixed;
  background-size: cover;
  /* background-color: #282c34; */
}

.container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.column #right {
  overflow: auto;
}

.column {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.App #right {
  width: 100%;
}

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

.App {
  display: flex;
  min-height: 100vh;
}

.App #header {
  background-color: #0C2130;
}