body {
  background: url('./img/background.png') no-repeat center center fixed;
  background-size: cover;
  /* background-color: #282c34; */
}

.container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.column #right {
  overflow: scroll;
}